body
{  
    list-style: none;
    font-family: "Raleway", sans-serif;
}
a
{
    text-decoration: none;
    list-style: none;
    color: #2C2D35;
}
ol
{
    display: flex;
    list-style: none;
    text-decoration: none;
}
.size
{
    width: 1440px;
    height: 720px;
}
.header
{
    background-color: #E1EDE6;
 height: 100px;
    width: 1440px;
    display: flex;
}
.header_logo
{
    display: flex;
   width: 143px;
   height: 35px;
   margin: 33px 495px 32px 165px;
}
.header_logo_img
{
    margin-right: 8px; 
}
.logo_text
{
    margin: none;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #598D66;
    font-size: 20px;
    font-weight: 700;
}
.header_nav
{ 
    display: flex;
    width: 472px;
    height: 24px;  
}
.header_navlist
{
    padding: 0px;
    margin: 0px;
    margin-top: 38px;
    margin-bottom: 38px;
}
.header_navitem
{
    margin-right:  60px;
    font-size: 20px;
    font-weight: 500;
}
.header_shop
{
    margin-right: 165px;
}
.section
{
    display: flex;
}
.main
{
    width: 540px;
    height:  331px;
    margin-left: 30px;
    margin-top: 145px;
    margin-bottom: 144px;
 }
.text_main
{
    font-size: 60px;
    font-weight: 500;
}
.text_main2
{
    color: #598D66;
}
.text_sub
{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500px;
    color: #86928B;
}
.button
{
    width: 227px;
    height: 65px;
    margin-top: 60px;
    border: solid ;
    border-color: #598D66;
    border-width: 1px 1px 1px 1px;
}
.knopka{
   font-size: 20px;
    font-weight: 500;
    padding: 20px 60px 20px 60px; 
}
.but
{   
    color: #598D66;
}
.golub
{
    width: 540px;
    height: 621px;
    margin-left: 165px;
    margin-bottom: 1px;  
}
#golub_img{
    width: 540px;
    height: 621px;
     

}
#main_button{
    margin-top: 90px;
    width: 40px;
    height: 40px;
    background-color: white;
    color: #598D66;
    border-color: #598D66;
    border-width: 1px 1px 1px 1px;
    font-size: 20px;
    font-weight: 500;

}
